
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/deployment.xml
.idea/easymarketing-magento2.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
